/* Generic */

html, body {
    margin: 0;
    padding: 0;
    height: auto;
    background-color: #26282C;
    color: #bcbcbc;
}

input {
    color: #bcbcbc;
}

.flex {
	display: flex;
}
.flex.wrap {
	flex-wrap: wrap;
}

.capitalize {
    text-transform: capitalize;
}

/* Specific */

/* Genre Chips */

.genres-container {
    margin-bottom: 10px;
}
.genre {
    margin-right: 10px;
    color: white;
}
/* Search */

.search-results-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(130px, max-content));
    grid-auto-rows: 225px;
    grid-gap: 5px;
}

/* Movie */

.movie-layout {
    display: flex;
    flex-direction: column;
}

.movie-backdrop {
    grid-area: movieBackdrop;
    display: flex;
    position: absolute;
    z-index: 0;
}
.movie-backdrop > .movie-backdrop-img {
    width: 100%;
    height: 100%;
    max-width: 100%;
}
.movie-backdrop-shade {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
    background: linear-gradient(to top, #26282C, transparent);
}
.movie-metadata-container {
    grid-area: movieMetadata;
    z-index: 1;
    text-align: center;
    margin: 0px 15px;
    padding-top: 40%;
}
.movie-metadata {
    display: flex;
    align-items: center;
    justify-content: center;
}
.movie-poster {
    display: none;
    padding: 15px
}
.movie-similar-list-container {
    grid-area: movieSimilarList;
    z-index: 1;
    text-align: center;
}
.movie-similar-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, max-content));
    grid-auto-rows: 160px;
    grid-gap: 5px;
}
.movie-similar-list-title-container > button {
    display: none;
}
@media (min-width: 768px) {
    .movie-metadata {
        justify-content: flex-start;
    }
    .movie-poster {
        display: unset;
        position: absolute;
    }
    .movie-backdrop {
        justify-content: flex-end;
    }
    .movie-backdrop > .movie-backdrop-img {
        width: auto;
        height: 450px;
        max-width: unset;
    }
    .movie-backdrop-shade {
        background: linear-gradient(to right, #26282C 40%, transparent 100%);
    }
    .movie-metadata-container {
        text-align: left;
        min-height: 450px;
        margin-right: unset;
        width: 50%;
        padding-top: unset;
    }
    .movie-similar-list-container {
        margin-top: -70px;
        text-align: left;
    }
    .movie-similar-list-title-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .movie-similar-list-title-container > button {
        display: block;
        margin-right: 15px;
        width: 250px;
    }
    .movie-similar-list-title-container > button > i {
        margin-right: 10px;
    }
    .favorite-button {
        width: 220px;
        align-self: flex-start;
        margin-right: 15px;
        margin-top: -20px;
        font-size: 12px;
        letter-spacing: unset;
    }
}

/* Material UI Picture Card */

.search-result-card-image.mdl-card {
    width: 100%;
    height: 100%;
    max-width: 162px;
    display: flex;
    align-items: flex-end;
}
.search-result-card-image > .mdl-card__actions {
    height: 52px;
    padding: 5px;
    background: rgba(0, 0, 0, 0.7);
    width: 100%;
    display: flex;
    align-items: center;
}
.search-result-card-image__filename {
    color: #fff;
    font-size: 14px;
    font-weight: 500;
}

/* Material UI Nav Bar */

header, main, footer {
    padding-left: 300px;
}

.movie-backdrop {
    width: calc(100% - 300px);
}

@media only screen and (max-width : 992px) {
    header, main, footer {
        padding-left: 0;
    }
    .movie-backdrop {
        width: 100%
    }
}

/* Material UI Text Input */

.input-field input[type=text]:focus + label {
    color: #651fff !important;
}

.input-field input[type=text]:focus {
    border-bottom: 1px solid #651fff !important;
    box-shadow: 0 1px 0 0 #651fff !important;
}