/* Generic */

html, body {
    background-color: #26282C;
    color: #bcbcbc;
}

.flex {
	display: flex;
}
.flex.wrap {
	flex-wrap: wrap;
}

/* Material UI */

.mdl-button.theme--dark {
    color: #bcbcbc;
}

.mdl-textfield.theme--dark .mdl-textfield__label {
    color: #bcbcbc;
}

.mdl-textfield.theme--dark .mdl-textfield__input {
    border-color: #bcbcbc;
}

.search-result-card-image.mdl-card {
    width: 162px;
    height: 245px;
}
.search-result-card-image > .mdl-card__actions {
    height: 52px;
    padding: 16px;
    background: rgba(0, 0, 0, 0.7);
}
.search-result-card-image__filename {
    color: #fff;
    font-size: 14px;
    font-weight: 500;
}