/* Generic */

html, body {
    margin: 0;
    padding: 0;
    height: auto;
    background-color: #26282C;
    color: #bcbcbc;
}

body {
    overflow-x: hidden;
}

.flex {
	display: flex;
}
.flex.wrap {
	flex-wrap: wrap;
}

.capitalize {
    text-transform: capitalize;
}

/* Specific */

/* Genre Chips */

.genres-container {
    margin-bottom: 10px;
}
.genre {
    margin-right: 10px;
}
/* Search */

.search-results-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-auto-rows: 225px;
    grid-gap: 5px;
}

/* Movie */

.movie-layout {
    display: flex;
    flex-direction: column;
}

.movie-backdrop {
    grid-area: movieBackdrop;
    display: flex;
    position: absolute;
    width: 100%;
    z-index: 0;
}
.movie-backdrop > .movie-backdrop-img {
    width: 100%;
    height: 100%;
    max-width: 100%;
}
.movie-backdrop-shade {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
    background: linear-gradient(to top, #26282C, transparent);
}
.movie-metadata {
    grid-area: movieMetadata;
    z-index: 1;
    text-align: center;
    margin: 0px 15px;
    padding-top: 40%;
}
.movie-poster {
    display: none;
    padding: 15px
}
.movie-similar-list-container {
    grid-area: movieSimilarList;
    z-index: 1;
}
.movie-similar-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-auto-rows: 160px;
    grid-gap: 5px;
}
@media (min-width: 768px) {
    .movie-poster {
        display: unset;
        position: absolute;
    }
    .movie-backdrop {
        justify-content: flex-end;
    }
    .movie-backdrop > .movie-backdrop-img {
        width: auto;
        height: 450px;
        max-width: unset;
    }
    .movie-backdrop-shade {
        background: linear-gradient(to right, #26282C 40%, transparent 100%);
    }
    .movie-metadata {
        text-align: left;
        min-height: 450px;
        margin-right: unset;
        width: 50%;
        padding-top: unset;
    }
    .movie-similar-list-container {
        margin-top: -70px;
    }
}

/* Material UI */

.mdl-button.theme--dark {
    color: #bcbcbc;
}

.mdl-textfield.theme--dark .mdl-textfield__label {
    color: #bcbcbc;
}
.mdl-textfield.theme--dark .mdl-textfield__input {
    border-color: #bcbcbc;
}

.search-result-card-image.mdl-card {
    width: 100%;
    height: 100%;
}
.movie-similar-list .search-result-card-image.mdl-card {
    min-height: unset;
}
.search-result-card-image > .mdl-card__actions {
    height: 52px;
    padding: 16px;
    background: rgba(0, 0, 0, 0.7);
}
.search-result-card-image__filename {
    color: #fff;
    font-size: 14px;
    font-weight: 500;
}