/* Generic */

html, body {
    margin: 0;
    padding: 0;
    height: auto;
    background-color: #26282C;
    color: #bcbcbc;
}

.flex {
	display: flex;
}
.flex.wrap {
	flex-wrap: wrap;
}

.capitalize {
    text-transform: capitalize;
}

/* Specific */

/* Genre Chips */

.genres-container {
    margin-bottom: 10px;
}
.genre {
    margin-right: 10px;
}

/* Movie */

.movie-layout {
    margin: 5px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
        "movieBackdrop"
        "moviePosterContainer"
        "movieMetadata"
        "movieSimilarList"
}
.movie-backdrop {
    grid-area: movieBackdrop;
    position: absolute;
    width: 100%;
    height: 450px;
    z-index: 0;
}
.movie-backdrop-shade {
    grid-area: movieBackdrop;
    position: absolute;
    width: 100%;
    height: 450px;
    z-index: 0;
}
.movie-metadata {
    grid-area: movieMetadata;
    z-index: 1;
    height: 450px;
}
.movie-poster-container {
    grid-area: moviePosterContainer;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    height: 450px;
}
.movie-poster-container > img {
    display: none;
}
.movie-poster {
    padding: 15px
}
.movie-similar-list {
    grid-area: movieSimilarList;
    z-index: 1;
}
@media (min-width: 800px) {
    .movie-layout {
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            "movieBackdrop movieBackdrop"
            "movieMetadata moviePosterContainer"
            "movieSimilarList movieSimilarList";
    }
    .movie-poster-container {
        justify-content: flex-end;
        align-items: flex-start;
    }
    .movie-poster-container > img {
        display: unset;
    }
    .movie-backdrop-shade {
        background: linear-gradient(to right, #26282C 40%, transparent 100%);
    }
}

/* Material UI */

.mdl-button.theme--dark {
    color: #bcbcbc;
}

.mdl-textfield.theme--dark .mdl-textfield__label {
    color: #bcbcbc;
}
.mdl-textfield.theme--dark .mdl-textfield__input {
    border-color: #bcbcbc;
}

.search-result-card-image.mdl-card {
    width: 150px;
    height: 225px;
}
.movie-similar-list .search-result-card-image.mdl-card {
    width: 100px;
    height: 150px;
    min-height: unset;
}
.search-result-card-image > .mdl-card__actions {
    height: 52px;
    padding: 16px;
    background: rgba(0, 0, 0, 0.7);
}
.search-result-card-image__filename {
    color: #fff;
    font-size: 14px;
    font-weight: 500;
}