/* Generic */

html, body {
    margin: 0;
    padding: 0;
    height: auto;
    background-color: #26282C;
    color: #bcbcbc;
}

.flex {
	display: flex;
}
.flex.wrap {
	flex-wrap: wrap;
}

.capitalize {
    text-transform: capitalize;
}

/* Specific */

/* Genre Chips */

.genres-container {
    margin-bottom: 10px;
}
.genre {
    margin-right: 10px;
}

/* Movie */

.movie-layout {
    /*height: 100%;*/
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
        "moviePosterContainer"
        "movieMetadata"
        "movieSimilarList"
}
@media (min-width: 1170px) {
    .movie-layout {
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
          "movieMetadata moviePosterContainer"
          "movieSimilarList movieSimilarList";
    }
}
.movie-metadata {
    grid-area: movieMetadata;
}
.movie-poster-container {
    grid-area: moviePosterContainer;
}
.movie-poster-container {
    display: flex;
    justify-content: center;
}
.movie-similar-list {
    grid-area: movieSimilarList;
}

/* Material UI */

.mdl-button.theme--dark {
    color: #bcbcbc;
}

.mdl-textfield.theme--dark .mdl-textfield__label {
    color: #bcbcbc;
}
.mdl-textfield.theme--dark .mdl-textfield__input {
    border-color: #bcbcbc;
}

.search-result-card-image.mdl-card {
    width: 150px;
    height: 225px;
}
.movie-similar-list .search-result-card-image.mdl-card {
    width: 100px;
    height: 150px;
    min-height: unset;
}
.search-result-card-image > .mdl-card__actions {
    height: 52px;
    padding: 16px;
    background: rgba(0, 0, 0, 0.7);
}
.search-result-card-image__filename {
    color: #fff;
    font-size: 14px;
    font-weight: 500;
}